.venv/
datasets/
__pycache__/
outputs/outputs.txt
submission-docs/*.aux
submission-docs/*.fls
submission-docs/*.out
submission-docs/*.log
submission-docs/*.fdb_latexmk
submission-docs/*.tex
submission-docs/*.synctex.gz
submission-docs/*.gz
keyframes/
data/*.npz
data/usda_csv
data/*.db
.env
config/data_config.json
outputs/