.venv/
datasets/
__pycache__/
outputs/outputs.txt
submission-docs/initial-progress/*.aux
submission-docs/initial-progress/*.fls
submission-docs/initial-progress/*.out
submission-docs/initial-progress/*.log
submission-docs/initial-progress/*.fdb_latexmk
submission-docs/initial-progress/*.tex
submission-docs/initial-progress/*.synctex.gz
submission-docs/initial-progress/*.gz
submission-docs/final-progress/*.aux
submission-docs/final-progress/*.bib
submission-docs/final-progress/*.bbl
submission-docs/final-progress/*.bcf
submission-docs/final-progress/*.blg
submission-docs/final-progress/*.xml
submission-docs/final-progress/*.fls
submission-docs/final-progress/*.out
submission-docs/final-progress/*.log
submission-docs/final-progress/*.fdb_latexmk
submission-docs/final-progress/*.tex
submission-docs/final-progress/*.synctex.gz
submission-docs/final-progress/*.gz
submission-docs/middle-progress/*.aux
submission-docs/middle-progress/*.bib
submission-docs/middle-progress/*.bbl
submission-docs/middle-progress/*.bcf
submission-docs/middle-progress/*.blg
submission-docs/middle-progress/*.xml
submission-docs/middle-progress/*.fls
submission-docs/middle-progress/*.out
submission-docs/middle-progress/*.log
submission-docs/middle-progress/*.fdb_latexmk
submission-docs/middle-progress/*.tex
submission-docs/middle-progress/*.synctex.gz
submission-docs/middle-progress/*.gz
keyframes/
data/*.npz
data/usda_csv
data/*.db
.env
config/data_config.json
outputs/